body {
  background: #0a0a0a;
  color: #00ff99;
  font-family: monospace;
  text-align: center;
  padding: 20px;
}

/* BANNER */
.banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #00ff99;
  margin-bottom: 20px;
}

/* GRID GAME MENU */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.menu-card {
  border: 1px solid #00ff99;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: #050505;
}

.menu-card:hover {
  transform: scale(1.05);
  border-color: #00ffaa;
}

.menu-card img {
  width: 100%;
  border-radius: 10px;
}

/* PRODUCT GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #00ff99;
  border-radius: 12px;
  padding: 10px;
  background: #050505;
  transition: 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
  border-color: #00ffaa;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

/* FORM CARD */
.card {
  border: 1px solid #00ff99;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  background: #050505;
}

/* INPUT */
input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: #00ff99;
  border: 1px solid #00ff99;
  border-radius: 8px;
}

/* BUTTON */
button {
  background: #00ff99;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 90%;
  border-radius: 8px;
  transition: 0.2s;
}

button:hover {
  background: #00ffaa;
  transform: scale(1.02);
}

/* TEXT */
h1, h2, h3 {
  color: #00ffcc;
}
